.trigger {
  white-space: nowrap;
}

.chevron {
  vertical-align: top;

  &.rotate {
    transform: rotate(180deg);
  }
}

.active {
  font-weight: 600;
}

.groupTitle {
  font-weight: 600;
  margin: 0.5rem 0;
}
